.main-section {
    margin: 2rem;
    flex: 2 2 auto;
}

.main-section p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.main-section .example {
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 2rem 0;
    gap: 1rem;
}

.code-section .html-snippet {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
