.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    box-shadow: 0px 0px 5px 0px var(--turquoise-green);
    z-index: 1;
    flex-shrink: 1;
    justify-content: space-between;
}

.title-section {
    display: inline;
}

.nav-links {
    margin-left: auto;
}

.nav-links li {
    list-style: none;
    display: inline;
}

.nav-links .link {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: black;
    flex-shrink: 2;
}

.nav-logo img {
    width: 90px;
    vertical-align: middle;
}

.nav-title {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--green-ryb);
    vertical-align: middle;
}
