<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathe UI</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/docsite.css" />
    <link rel="stylesheet" href="image.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
        <script src="https://kit.fontawesome.com/dd034b1882.js" crossorigin="anonymous"></script>
    </head>

<body>
    <nav class="navbar">
        <div class="title-section">
            <a class="nav-logo" href="#">
                <img src="../../assests/logo/8-16.webp" alt="" />
            </a>
            <a class="nav-title" href="#">BREATHE UI</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a class="link" href="../../index.html">Home</a></li>
                <li>
                    <a class="link" href="../../documentation/introduction.html">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="sidebar-list">
                <div class="list-heading">Get Started</div>
                <ul>
                    <li><a class="link" href="#">Introduction</a></li>
                </ul>
            </div>
            <div class="sidebar-list">
                <div class="list-heading">Components</div>
                <ul>
                    <li><a class="link" href="../alert/alert.html">Alert</a></li>
                    <li><a class="link" href="../avatar/avatar.html">Avatar</a></li>
                    <li><a class="link" href="../badge/badge.html">Badge</a></li>
                    <li><a class="link" href="../button/button.html">Button</a></li>
                    <li><a class="link" href="../card/card.html">Card</a></li>
                    <li><a class="link" href="../image/image.html">Image</a></li>
                    <li><a class="link" href="#">Input</a></li>
                </ul>
            </div>
        </aside>

        <main class="main-section">
            <h1 class="heading">Responsive Images</h1>
            <p>Responsive images shows visual content on a website in a responsive way. These images are screen responsive.</p>
            <br />

            <div class="example-row">
                <img class="img-resp" src="../../assests/images/photo-1528715471579-d1bcf0ba5e83.jpg" alt="">
            </div>

            <div class="code-section">
                <pre>
                    <code class="language-html html-snippet">
                        &lt;img class="img-resp" src="path to image" alt="responsive image">
                    </code>
                </pre>
            </div>

            <h1 class="heading">Round Images</h1>
            <p>To make images round use round-img class with img element.</p>
            <br />

            <div class="example-row">
                <img class="img-resp img-round" src="../../assests/images/photo-1528715471579-d1bcf0ba5e83.jpg" alt="">
            </div>

            <div class="code-section">
                <pre>
                    <code class="language-html html-snippet">
                        &lt;img class="img-resp" src="path to image" alt="responsive round image">
                    </code>
                </pre>
            </div>

        </main>
    </div>
    <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>