<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathe UI</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/docsite.css" />
    <link rel="stylesheet" href="../alert/alert.css">
    <link rel="stylesheet" href="toast.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <script src="https://kit.fontawesome.com/dd034b1882.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="title-section">
            <a class="nav-logo" href="#">
                <img src="../../assests/logo/8-16.webp" alt="" />
            </a>
            <a class="nav-title" href="#">BREATHE UI</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a class="link" href="../../index.html">Home</a></li>
                <li>
                    <a class="link" href="../../documentation/introduction.html">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="sidebar-list">
                <div class="list-heading">Get Started</div>
                <ul>
                    <li><a class="link" href="#">Introduction</a></li>
                </ul>
            </div>
            <div class="sidebar-list">
                <div class="list-heading">Components</div>
                <ul>
                    <li><a class="link" href="../alert/alert.html">Alert</a></li>
                    <li><a class="link" href="../avatar/avatar.html">Avatar</a></li>
                    <li><a class="link" href="../badge/badge.html">Badge</a></li>
                    <li><a class="link" href="../button/button.html">Button</a></li>
                    <li><a class="link" href="../card/card.html">Card</a></li>
                    <li><a class="link" href="../image/image.html">Image</a></li>
                    <li><a class="link" href="../input/input.html">Input</a></li>
                    <li><a class="link" href="../text-utilities/text-utilites.html">Text Utilities</a></li>
                    <li><a class="link" href="../lists/list.html">List</a></li>
                    <li><a class="link" href="../toast/toast.html">Toast</a></li>
                    <li><a class="link" href="../modal/modal.html">Modal</a></li>
                </ul>
            </div>
        </aside>

        <main class="main-section">
            <h1 class="heading">Toast</h1>
            <p>Toast are temporary notifications which appear for few seconds.</p>

            <div class="example">
                <div class="toast toast-success">
                    <i class="fa-regular fa-circle-check"></i>
                    This is a success message
                    <i class="fa-solid fa-xmark cross"></i>
                </div>
                <div class="toast toast-warning">
                    <i class="fa-regular fa-triangle-exclamation"></i>
                    This is a warning message
                    <i class="fa-solid fa-xmark cross"></i>
                </div>
                <div class="toast toast-info">
                    <i class="fa-regular fa-circle-info"></i>
                    This is an info message
                    <i class="fa-solid fa-xmark cross"></i>
                </div>
                <div class="toast toast-danger">
                    <i class="fa-regular fa-circle-exclamation"></i>
                    This is a danger messge
                    <i class="fa-solid fa-xmark cross"></i>
                </div>
            </div>

            <div class="code-section">
                <pre>
                    <code class="language-html html-snippet">
                        &lt;div class="toast toast-success">
                            &lt;i class="fa-regular fa-circle-check">&lt;/i>
                            This is a success message
                            &lt;i class="fa-solid fa-xmark cross">&lt;/i>
                        &lt;/div>
                        &lt;div class="toast toast-warning">
                            &lt;i class="fa-regular fa-triangle-exclamation">&lt;/i>
                            This is a warning message
                            &lt;i class="fa-solid fa-xmark cross">&lt;/i>
                        &lt;/div>
                        &lt;div class="toast toast-info">
                            &lt;i class="fa-regular fa-circle-info">&lt;/i>
                            This is an info message
                            &lt;i class="fa-solid fa-xmark cross">&lt;/i>
                        &lt;/div>
                        &lt;div class="toast toast-danger">
                            &lt;i class="fa-regular fa-circle-exclamation">&lt;/i>
                            This is a danger messge
                            &lt;i class="fa-solid fa-xmark cross">&lt;/i>
                        &lt;/div>
                    </code>
                </pre>
            </div>
        </main>
    </div>
    <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>