<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breathe UI</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/docsite.css" />
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="modal.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="https://kit.fontawesome.com/dd034b1882.js" crossorigin="anonymous"></script>
    </head>

<body>
    <nav class="navbar">
        <div class="title-section">
            <a class="nav-logo" href="#">
                <img src="../../assests/logo/8-16.webp" alt="" />
            </a>
            <a class="nav-title" href="#">BREATHE UI</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a class="link" href="../../index.html">Home</a></li>
                <li>
                    <a class="link" href="../../documentation/introduction.html">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="sidebar-list">
                <div class="list-heading">Get Started</div>
                <ul>
                    <li><a class="link" href="#">Introduction</a></li>
                </ul>
            </div>
            <div class="sidebar-list">
                <div class="list-heading">Components</div>
                <ul>
                    <li>
                        <a class="link" href="../alert/alert.html">Alert</a>
                    </li>
                    <li>
                        <a class="link" href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a class="link" href="../badge/badge.html">Badge</a>
                    </li>
                    <li>
                        <a class="link" href="../button/button.html">Button</a>
                    </li>
                    <li>
                        <a class="link" href="../card/card.html">Card</a>
                    </li>
                    <li>
                        <a class="link" href="../image/image.html">Image</a>
                    </li>
                    <li>
                        <a class="link" href="../input/input.html">Input</a>
                    </li>
                    <li><a class="link" href="../text-utilities/text-utilites.html">Text Utilities</a></li>
                    <li><a class="link" href="../lists/list.html">List</a></li>
                    <li><a class="link" href="../toast/toast.html">Toast</a></li>
                    <li><a class="link" href="../modal/modal.html">Modal</a></li>
                </ul>
            </div>
        </aside>

        <main class="main-section">
            <h1 class="heading">Modal</h1>
            <p>A modal is a dialog box/popup window that is displayed on the current usually requring user to do some action.
                Modals are built with HTML, CSS, and JavaScript. They’re positioned over everything else in the document and remove scroll from the <body> so that modal content scrolls instead.
            </p>
            <div class="example">
                <div class="modal">
                    <div class="modal-title">
                        Modal Title
                    </div>
                    <div class="modal-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate.</div>
                    <div class="modal-btns">
                        <button class="btn btn-primary">Button1</button>
                        <button class="btn btn-secondary">Button 2</button>
                    </div>
                    <i class="fa-regular fa-xmark cross"></i>
                </div>
            </div>

            <div class="code-section">
                <pre>
                    <code class="language-html html-snippet">
                        &lt;div class="modal">
                            &lt;div class="modal-title">
                                Modal Title
                            &lt;/div>
                            &lt;div class="modal-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate.&lt;/div>
                            &lt;div class="modal-btns">
                                &lt;button class="btn btn-primary">Button1&lt;/button>
                                &lt;button class="btn btn-secondary">Button 2&lt;/button>
                            &lt;/div>
                            &lt;i class="fa-regular fa-xmark cross">&lt;/i>
                        &lt;/div>
                    </code>
                </pre>
            </div>
        </main>
    </div>
    <br /><br />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>